.git
.vscode

kernel/*.a
kernel/*.dump
kernel/*.o

runtime/obj/
runtime/*.stamp
runtime/*.so
runtime/*.so.obj_dir/
runtime/vortex_afu.h

sim/simx/obj/
sim/simx/simx
sim/simx/*.stamp
sim/simx/tensor_unit.cpp.backup

tests/**/.config_stamp
tests/**/*.bin
tests/**/*.dump
tests/**/*.elf
tests/**/*.vxbin
tests/**/trace/

third_party/ramulator/build/
vortex_v1.0/third_party/ramulator/build/

riscv32-gnu-toolchain.tar.bz2.part*
